// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.store {
    max-width: 100%;

    ul.catalog {
        border-top: solid 0.250em;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 1em;
            margin: 0;
            border-bottom: solid thin #ddd;

            // This makes sure our <li> has enough height
            // to hold the entire image, since it's floated
            &::after {
                clear: both;
                content: " ";
                display: block;
            }

            img {
                float: left;
                padding: 1em;
                margin-right: 1em;
                margin-bottom: 1em;
                box-shadow: 0.176em 0.176em 0.354em 0px rgba(0, 0, 0, 0.75);
                height: 250px;
                width: 270px;
            }

            .price {
                font-size: 1.414em;
                font-weight: 600;
            }
            form, div {
                display: inline;
                }
            input[type="submit"] {
                background-color: #ee7373;
                border-radius: 0.354em;
                border: solid thin #141;
                color: white;
                font-size: 1em;
                padding: 0.354em 1em;
            }
            input[type="submit"]:hover {
            background-color: #ebca0b;
            color: black;
            cursor: pointer;
            }
            
        }
    }
}

.dropbtn {
    background-color: #ee7373;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 5px 0px;
    border-radius: 5px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;  color: black}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #ebca0b;
  }

